src/main/mule/saleforce_case-to-salesforce_case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3ed4f31c-c468-465e-aee9-704754393845" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="9dfe7af7-5a9e-4610-a88a-5e9735b02546" >
		<salesforce:basic-connection username="********" password="*******" securityToken="SjEVRwMJZsP9nzWD2IAGOcLI2" />
	</salesforce:sfdc-config>
	<salesforce:sfdc-config name="Salesforce_Config1" doc:name="Salesforce Config" doc:id="9e4a793d-dd09-44ef-bea7-8d62d7990fde" >
		<salesforce:basic-connection username="*******" password="******" securityToken="bXObuqN9Q7hUL2plO56Nhs26" />
	</salesforce:sfdc-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="92733ae9-e340-4a7e-8a39-bc758f9132e5" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="237ddf52-6e8c-48e7-9cca-8dd213ba4bc1" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="05484ff3-eb37-44d9-91d8-c58512597fc0" >
		<email:smtps-connection host="smtp.hostinger.com" user="197z1a0506@interns.eaiesb.com" password="Manideep@25" >
			<tls:context >
				<tls:trust-store insecure="true" />
			</tls:context>
		</email:smtps-connection>
	</email:smtp-config>
	<flow name="saleforce_case-to-salesforce_caseFlow" doc:id="00ff6dd3-42fb-4149-9b2b-10aada2b0e67" >
		<http:listener doc:name="Listener" doc:id="f4941d2a-97c4-435d-853f-2340c3ca20bd" config-ref="HTTP_Listener_config" path="/saleforce"/>
		<try doc:name="Try" doc:id="aa97ce47-fa31-4ed1-bdfb-a0f8c8417044" >
			<salesforce:query doc:name="Query" doc:id="cdc1b444-ae4b-46fd-bd9e-400ec531f4d3" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[select NNRG_Case_Id__c,NNRG_Case_Sync_Status__c from Case where NNRG_Case_Id__c !=null]]></salesforce:salesforce-query>
		</salesforce:query>
			<ee:transform doc:name="Transform Message" doc:id="5ee0d9da-a03a-4e90-a601-da78d51f1db8">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map(p,idx)->
{
	Id:p.NNRG_Case_Id__c,
	Status:p.NNRG_Case_Sync_Status__c
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<salesforce:update type="Case" doc:name="Update" doc:id="e4afd1fe-17b8-44b3-96bb-0d6aebe374aa" config-ref="Salesforce_Config1">
		</salesforce:update>
			<ee:transform doc:name="Transform Message" doc:id="76e55a88-1e93-4e77-98c6-3bb1f8ed7d52">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
 payload.successful]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="94486013-fd28-4ab7-96cf-d0e752781aff" type="ANY">
					<ee:transform doc:name="Transform Message" doc:id="7745eda1-a67a-4758-a779-fb5d252cd0f7" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Error Meaasage":error]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<email:send doc:name="Send" doc:id="c6eef887-40e5-452e-a624-f3f08f7e81a1" config-ref="Email_SMTP" fromAddress="197z1a0506@interns.eaiesb.com" subject="Alert!!!!!! Error in the flow">
				<email:to-addresses>
					<email:to-address value="bandarisainath24@gmail.com" />
				</email:to-addresses>
			</email:send>
				</on-error-propagate>
			</error-handler>
		</try>
	</flow>
</mule>
